.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    background: #23683F;
}

.navbar-nav {
    display: flex;
    flex-direction: inherit;
    height: 3.5rem;
}

.nav-borda-esquerda {
    border-left: 1px solid #fff;
    padding-top: 0.5rem;
}

.top-row {
    background-color: #23683f;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
            text-decoration: underline;
        }

        .top-row ::deep a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 200px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth ::deep a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
}

faixa-rodape {
    width: 100% !important;
    height: 30px !important;
    border: solid 1px #006437;
    
}
.header {
    font-family: Inter !important;
    font-size: 18px;
    font-weight: 700;
    color: #303E47;
}
.nome {
    font-family: Inter;
    color: #0E659C;
    font-size: 17px;
    font-weight: 700;
}

.number {
    font-family: Inter;
    font-size: 17px;
    font-weight: 500;
    color: #303E47;
}

.situacao {
    font-family: Inter;
    font-size: 17px;
    font-weight: 700;
    color: #303E47;
}

.img-vector {
    width: 40px;
}

