@inject IJSRuntime JSRunTime
@using Microsoft.AspNetCore.Components.Web


<!-- Modal -->
<div class="modal fade " id="ModalEmissao" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content ">
            <div class="modal-header background">
                <h5 class="modal-title letter" id="exampleModalLabel">Histórico de Absorções e Emissões de GEE</h5>
                <div class="">
                </div>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" @onclick="DesativaBotao">
                    <span aria-hidden="true"><img src="./assets/socio/X2.svg"</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


