@page "/"
@inject IStringLocalizer<Resource> localizador

<PageTitle>@PageTitle</PageTitle>

<h1>@TituloPagina</h1>

@CorpoPagina

<DynamicComponent Type="typeof(SurveyPrompt)" Parameters="Parametro"></DynamicComponent>

